body {
    background-color: black;
    margin: auto;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    color: #FFF;
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.55);
    height: 100%;
    background: url("../img/back.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    -ms-user-select: none; 
	-moz-user-select: none; 
	-webkit-user-select: none; 
	user-select: none;

    transition: 1s ease;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.megamain {
    flex: 1 1 auto;
}
*,
*:before
*:after {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 5.25em;
    color: #FFF;
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.55);
}

h2 {   
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    color: #FFF;
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.55);
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    color: #FFF;
    width: 790px;
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.55);
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: #FFF;
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.55);
}

.header {
    width: 100%;
    padding-top: 30px;
    
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.container {
    width: 100%;
    box-sizing: content-box;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 30px;
    max-width: 80%;

}

.intro {
    padding:0;
    margin: 300px auto 200px;
    width: 80%;
    display: flex;
    align-items: center;
}

.main {
    width: 100%;
    max-width: 1502px;
    margin: 0 auto;
    
}

.intro__title {
    margin: 0;
}

.intro__subtitle {
    font-size: 2px;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.nav__link {
    color: #FFF;
    text-decoration: none;
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.55);
    transition: color .5s linear;
    position: relative;
    margin-right: 40px;
}
.nav__link:after{
    content:"";
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 3px;
    background: #fff;
    position: absolute;
    opacity: 0;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .5s linear;
}


.nav__link:hover:after {
    opacity: 1;
}


.btn {
    margin-top: 46px;
    display: inline-block;
    vertical-align: top;
    padding: 1em 3.43em;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.55);
    font-size: 24px;
    color: #333;
    text-decoration: none;
    border-radius: 55px;

    transition: background .2s linear,
    color .2s linear;
}

.btn:hover {
    background-color: rgb(199, 199, 199);
    color: black;
}

.footer {
    margin: 0 50px;
    padding: 35px;
}

.footer {
    margin-top: auto;
}

.soc__cont {
    margin: 5px 10px 5px 5px;
    display: flex;
    align-items: center;
}

.soc__cont a {
    margin-left: 10px;
}
.social__link {
    color: #FFF;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
}

.container__foot {
    width: 100%;
    max-width: 415px;
    margin: auto;
}

.footer__cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.pochta  {
    color: #FFF;
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
}

.mail {
    width: 100%;
    text-align: right;
    line-height: 42px;
}

.section {
    padding: 80px 0;
}

.subpage__header{
    text-align: center;
    font-size: 42px;
}

.container__sec {
    width: 100%;
    max-width: 1502px;
    margin: 0 auto;
}

.section__header {
    width: 100%;
    max-width: 850px;
    margin: 0 auto 60px;
    text-align: center;
}

.section__header  a{
    color: #fff;
}

.catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tovar {
    position: relative;
    cursor: pointer;
    padding: 20px;
    width: 357px;
    background-color: rgba(255, 255, 255, 0.158);
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.55);
    margin: 20px ;
}
 

.tovar:hover .tovar__img img {
    opacity: .3;
}


.tovar:hover .about__text {
    opacity: 1;
}

.tovar__img img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: opacity .3s linear;   
}

.about__text {
    color: rgba(255, 255, 255, 0.858);
    font-size: 32px;
    width: 100%;
    text-align: center;
    position: absolute;
    text-decoration: none;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);
    opacity: 0;
    transition: opacity .3s linear;
}

.carmodel{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 35px;
}

.carphotos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap ;
}

.carphotos img{
    margin: 10px 0;
    max-width: 80%;
}

.cardescribe{
    margin: 0;
    font-size: 20px;
    text-align:center;
    width: 100%;
}

.map__container{
    padding: 30px;
}

.map__container iframe{
    min-height: 70vh;
    width: 100%;
}

.map__descr {
    margin-top: 20px;
}
.map__descr p{
    font-size: 20px;
    text-align: justify;
}

.map__descr a{
    color:rgb(219, 43, 43);
    text-decoration: none;
}

@media (max-width: 1190px) {

    .main__logo{
        display: none;
    }

    .map__descr p{
        font-size: 15px;
    }
    .cardescribe{
        font-size: 15px;
    }
    .nav{
        font-size: 20px;
    }
    .nav__inf { 
        font-size: 20px;
    }

    .intro {
        margin-top: 2vh;
        margin-bottom: 10vh;
    }

    .about__text{
        font-size: 20px;
    }

    .subpage__header{
        font-size: 27px;
    }

    .btn{
        font-size: 15px;
    }

    .nav__link {
        margin: 0px 25px 0px 0px;
        line-height: 45px;
    }

    h1 {
        font-size: 3.25em;
    }

    h3 {
        font-size: 1em;
        width: 543px;
    }
    h4 {
        font-size: 14px;
    }

    .tovar {
        width: 100%;
        max-width: 357px;
        margin: 0 50px 35px;
    }
}

@media (max-width: 574px) {

    h1 {
        font-size: 2em;
    }

    h3 {
        font-size: 1em;
        width: 350px;
    }
  

    .mail a {
        font-size: 14px;
        text-align: left;
    }
}

@media (max-width: 504px) {
    .footer__cont {
        flex-direction: column;
    }

    .mail {
        text-align: center;
        line-height: normal;
    }

}

@media (max-width: 350px) {
    .about__text {
        font-size: 24px;
    }
}
